<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me</title>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>
            {{about}} {{name}}
        </h3>
        <p>This site is designed by Arun Mishra. Enter the Location to see the current temperature and forcast</p>
        <img class="Portrait" src="/img/DSC_0550.JPG" alt="Arun">
    </div>
     {{>footer}}
</body>

</html>