<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Help</title>
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>
        call {{number}} for help
    </h3>
    </div>
    
    {{>footer}}
    
</body>
</html>